# Hadoop HDFS locator "fs.default.name"
calvalus.hadoop.fs.defaultFS = file:///

calvalus.hadoop.mapreduce.framework.name = yarn
calvalus.hadoop.mapreduce.app-submission.cross-platform = true
calvalus.hadoop.yarn.resourcemanager.ha.enabled = true
calvalus.hadoop.yarn.resourcemanager.cluster-id = calvalus-yarn
calvalus.hadoop.yarn.resourcemanager.ha.rm-ids = rm1
calvalus.hadoop.yarn.resourcemanager.hostname = cd-test-cvmaster
calvalus.hadoop.yarn.resourcemanager.hostname.rm1 = cd-test-cvmaster
calvalus.hadoop.yarn.client.failover-proxy-provider = org.apache.hadoop.yarn.client.ConfiguredRMFailoverProxyProvider
calvalus.hadoop.mapreduce.app-submission.cross-platform = true
calvalus.hadoop.mapreduce.jobhistory.address = cd-test-cvmaster:10200
calvalus.hadoop.mapreduce.jobhistory.webapp.address = cd-test-cvmaster:19888

calvalus.hadoop.yarn.app.mapreduce.am.staging-dir = /home/hadoop/tmp/hadoop-yarn
calvalus.hadoop.yarn.nodemanager.remote-app-log-dir =  /home/hadoop/tmp/logs

# SAML authentication key files
calvalus.crypt.auth = saml
calvalus.crypt.calvalus-public-key = /home/cvop/.calvalus/calvalus_pub.der
calvalus.crypt.debug-private-key = /home/cvop/.calvalus/debug_priv.der
calvalus.crypt.debug-certificate = /home/cvop/.calvalus/debug_cert.der

# Value is relative to the context's directory
calvalus.portal.staging.path = staging
calvalus.wps.staging.path = staging

# File upload directory (not yet used).
# Value is relative to the context's directory
calvalus.portal.upload.path = uploads

# Factory that instantiates the production service.
# calvalus.portal.productionServiceFactory.class=com.bc.calvalus.production.local.LocalProductionServiceFactory
calvalus.portal.productionServiceFactory.class = com.bc.calvalus.production.hadoop.HadoopServiceContainerFactory

# default is default
calvalus.hadoop.mapreduce.job.queuename = tep

# Calvalus software bundle "calvalus.calvalus.bundle"
calvalus.calvalus.bundle = calvalus-2.14.4

# SNAP software bundle "calvalus.snap.bundle"
calvalus.snap.bundle = snap-5.0
calvalus.beam.bundle = snap-5.0
