<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
    <title type="text">Urban TEP catalogue entry</title>
    <id>$jobUrl</id>
    <updated>$jobFinishTime</updated>
    <link rel="profile" href="http://www.opengis.net/spec/owc-atom/1.0/req/core" title="This file is compliant with version 1.0 of OGC Context"/>
    <entry>
        <id>$productOutputDir</id>
        <title type="text">$productionName</title>
        <content type="text">$processName of $inputDatasetName</content>
        <author>
            <name>Brockmann Consult GmbH</name>
        </author>
        <publisher xmlns="http://purl.org/dc/elements/1.1/">ESA Urban TEP</publisher>
        <updated>$jobFinishTime</updated>
        <parentIdentifier xmlns="http://purl.org/dc/elements/1.1/">$stagingDir</parentIdentifier>
        <where xmlns="http://www.georss.org/georss/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Polygon xmlns="http://www.opengis.net/gml">
                <exterior>
                    <LinearRing>
                        <posList srsDimension="2">$regionWkt</posList>
                    </LinearRing>
                </exterior>
            </Polygon>
        </where>
        <date xmlns="http://purl.org/dc/elements/1.1/">$startDate/$stopDate</date>
        <link rel="enclosure" href="$collectionUrl" title="$productionName"/>
        <EarthObservation xmlns="http://www.opengis.net/sar/2.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <boundedBy xmlns="http://www.opengis.net/gml/3.2" xsi:nil="true"/>
            <phenomenonTime xmlns="http://www.opengis.net/om/2.0">
                <TimePeriod xmlns="http://www.opengis.net/gml/3.2">
                    <beginPosition>$startDate</beginPosition>
                    <endPosition>$stopDate</endPosition>
                </TimePeriod>
            </phenomenonTime>
            <observedProperty xmlns="http://www.opengis.net/om/2.0" xsi:nil="true"/>
            <metaDataProperty xmlns="http://www.opengis.net/eop/2.1">
                <EarthObservationMetaData>
                    <identifier>$productOutputDir</identifier>
                    <parentIdentifier>$stagingDir</parentIdentifier>
                    <productType>GUF</productType>
                    <processing>
                        <ProcessingInformation>
                            <processingCenter>Brockmann Consult GmbH</processingCenter>
                            <processingDate>$jobFinishTime</processingDate>
                            <method>$processName Processing</method>
                            <processorName>$processName</processorName>
                            <processorVersion>$processorVersion</processorVersion>
                            <processingLevel>$productionType</processingLevel>
                            <nativeProductFormat>$outputFormat</nativeProductFormat>
                        </ProcessingInformation>
                    </processing>
                </EarthObservationMetaData>
            </metaDataProperty>
            <result xmlns="http://www.opengis.net/om/2.0">
                <EarthObservationResult xmlns="http://www.opengis.net/eop/2.1">
                    <boundedBy xmlns="http://www.opengis.net/gml/3.2" xsi:nil="true"/>
                    #foreach( $product in $productList )
                    <product>
                        <ProductInformation>
                            <fileName>
                                <d7p1:ServiceReference d7p1:type="simple"
                                                       d7p2:href="$product.productUrl"
                                                       d7p2:title="simple"
                                                       xmlns="http://www.opengis.net/ows/2.0"
                                                       xmlns:d7p1="http://www.opengis.net/ows/2.0"
                                                       xmlns:d7p2="http://www.w3.org/1999/xlink">
                                    <d7p1:Identifier>$product.productFileName</d7p1:Identifier>
                                    <d7p1:Format>$product.productFileFormat</d7p1:Format>
                                </d7p1:ServiceReference>
                            </fileName>
                            <size>$product.productFileSize</size>
                        </ProductInformation>
                    </product>
                    #end
                    <browse>
                        <BrowseInformation>
                            <fileName>$product.productQuickLookUrl</fileName>
                        </BrowseInformation>
                    </browse>
                </EarthObservationResult>
            </result>
            <featureOfInterest xmlns="http://www.opengis.net/om/2.0">
                <Footprint xmlns="http://www.opengis.net/eop/2.1">
                    <boundedBy xmlns="http://www.opengis.net/gml/3.2" xsi:nil="true"/>
                    <multiExtentOf>
                        <MultiSurface xmlns="http://www.opengis.net/gml/3.2">
                            <surfaceMembers>
                                <Polygon>
                                    <exterior>
                                        <LinearRing>
                                            <posList count="5" srsDimension="2">${regionWkt}</posList>
                                        </LinearRing>
                                    </exterior>
                                </Polygon>
                            </surfaceMembers>
                        </MultiSurface>
                    </multiExtentOf>
                </Footprint>
            </featureOfInterest>
        </EarthObservation>
    </entry>
</feed>
