<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>processingServlet</servlet-name>
        <servlet-class>com.bc.calvalus.ui.server.ProcessingServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>processingServlet</servlet-name>
        <url-pattern>/calvalusapp/process</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.bc.calvalus.ui.server.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/calvalusapp/upload</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <!--<welcome-file>CalvalusApp.html</welcome-file>-->
        <welcome-file>SmartCalvalusApp.html</welcome-file>
    </welcome-file-list>

</web-app>
