# Hadoop HDFS locator "fs.default.name"
#calvalus.hadoop.fs.defaultFS = hdfs://master00:9000
calvalus.hadoop.fs.defaultFS = hdfs://calvalus
calvalus.hadoop.dfs.nameservices = calvalus
calvalus.hadoop.dfs.ha.namenodes.calvalus = nn1,nn2
calvalus.hadoop.dfs.namenode.rpc-address.calvalus.nn1 = master00:8020
calvalus.hadoop.dfs.namenode.rpc-address.calvalus.nn2 = master01:8020
calvalus.hadoop.dfs.client.failover.proxy.provider.calvalus = org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider

# Hadoop namenode locator "mapred.job.tracker"
#calvalus.hadoop.mapred.job.tracker = master00:9001
#calvalus.hadoop.yarn.resourcemanager.address = master00:8032
calvalus.hadoop.yarn.resourcemanager.ha.enabled = true
calvalus.hadoop.yarn.resourcemanager.cluster-id = calvalus-yarn
calvalus.hadoop.yarn.resourcemanager.ha.rm-ids = rm1,rm2
calvalus.hadoop.yarn.resourcemanager.hostname.rm1 = master00
calvalus.hadoop.yarn.resourcemanager.hostname.rm2 = master01
calvalus.hadoop.yarn.client.failover-proxy-provider = org.apache.hadoop.yarn.client.ConfiguredRMFailoverProxyProvider

# Hadoop job priority, can be VERY_HIGH, HIGH, NORMAL, LOW, VERY_LOW
# is this still used?
calvalus.hadoop.mapred.job.priority = VERY_HIGH

# Calvalus software bundle "calvalus.calvalus.bundle"
calvalus.hadoop.calvalus.calvalus.bundle = calvalus-2.17-SNAPSHOT

# SNAP software bundle "calvalus.snap.bundle"
calvalus.hadoop.calvalus.snap.bundle = snap-2.0.0
