# Hadoop HDFS locator "fs.default.name"
calvalus.hadoop.fs.default.name = hdfs://master00:9000

# Hadoop namenode locator "mapred.job.tracker"
calvalus.hadoop.mapred.job.tracker = master00:9001

# Hadoop job priority, can be VERY_HIGH, HIGH, NORMAL, LOW, VERY_LOW
calvalus.hadoop.mapred.job.priority = VERY_HIGH

# Calvalus software bundle "calvalus.calvalus.bundle"
calvalus.hadoop.calvalus.calvalus.bundle = calvalus-1.7

# BEAM software bundle "calvalus.beam.bundle"
calvalus.hadoop.calvalus.beam.bundle = beam-4.11.1
