# Hadoop HDFS locator "fs.default.name"
calvalus.hadoop.fs.defaultFS = hdfs://master00:9000

# Hadoop namenode locator "mapred.job.tracker"
#calvalus.hadoop.mapred.job.tracker = master00:9001
calvalus.hadoop.yarn.resourcemanager.address = master00:8032

# Hadoop job priority, can be VERY_HIGH, HIGH, NORMAL, LOW, VERY_LOW
# is this still used?
calvalus.hadoop.mapred.job.priority = VERY_HIGH

# Calvalus software bundle "calvalus.calvalus.bundle"
calvalus.hadoop.calvalus.calvalus.bundle = calvalus-2.0

# BEAM software bundle "calvalus.beam.bundle"
calvalus.hadoop.calvalus.beam.bundle = beam-5.0.1
