/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

.displayDateInterval {
    font-family: "courier new", courier;
    /*border: solid #d7dfe8;*/
    font-size: 14px;
    position: fixed;
    /*left: 83%;*/
    right: 63%;
    top: 21%;
    margin: auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.tableDisplay {
    border: solid #d7dfe8;
    width: 70%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

.piechart {
    border: solid #d7dfe8;
    width: 70%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

.searchBar {
    width: 25%;
    position: relative;
    left: 0px;
    right: 0px;
}

.TableWidget {
    position: absolute;
    width: 700px;
    border: solid #d7dfe8;
    top: 210px;
    left: 0px;
    right: 0px;
    height: 50%;
    margin: auto;
}

.navigator {
    background-color: #ECE9D8;
    border-bottom: 1px solid #ACA899;
    position: absolute;
}

.status {
    vertical-align: middle;
    padding-right: 10px;
}

.cw-DockPanel {
    width: 75%;
}

.searchPanel {
    position: absolute;
    left: 10%;
}

.gwt-DialogBox {
    width: 400px;
}

.gwt-DatePicker td, .datePickerMonthSelector td:focus {
    outline: none;
}

.datePickerMonthSelector td:focus {
    outline: none;
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background: #fff;
    padding: 0px 4px 2px;
    cursor: default;
    color: #666;
    font-size: 70%;
    font-weight: normal;
}

.datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer;
}

.datePickerDayIsWeekend {
    background: #f7f7f7;
}

.datePickerDayIsFiller {
    color: #999;
    font-weight: normal;
}

.datePickerDayIsValue {
    background: #d7dfe8;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}

.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}

.datePickerPreviousButton, .datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 4px;
    outline: none;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}

.gwt-DateBox {
    padding: 5px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
}

.gwt-DateBox input {
    width: 8em;
}

.dateBoxFormatError {
    background: #ffcccc;
}
