#!/bin/bash

inFileName="$inputFile.name"
inputPath="$inputPath"


#[[

########################################################################
#BC
DIR_AUX_ERA='hdfs://master00:9000/calvalus/auxiliary/era_interim'
DIR_AUX_NCEP='hdfs://master00:9000/calvalus/auxiliary/seadas/anc'
#PML
if [[ $(hostname -f) =~ ^calvalus ]]; then
  DIR_AUX_ERA='/data/datasets/ERA_Interim/level3/era_interim-downloaded_20140430/swath/0d'
  DIR_AUX_NCEP='/data/datasets/Sensor/modis/ancillary/metoz'
fi
########################################################################

#for debugging
#set -x

set -e
set -m

outFile=${inFileName}-l2gen.hdf

export OCSSWROOT=./seadas-7.0/seadas-7.0
if [[ $(hostname -f) =~ ^calvalus ]]; then
  export OCSSWROOT=/users/rsg/rsgcode/operational/linux-x86_64/third_party/opt/seadas/V7.0.1/ocssw
fi
L2GEN_BIN=${OCSSWROOT}/run/bin/linux_64/l2gen
source $OCSSWROOT/OCSSW_bash.env

# append newline to parameters.anc
touch parameters.anc
echo >> parameters.anc

]]#

#if ($inputRectangle)

# only check for flip in MODIS Aqua and Seawifs files
if [[ $inFileName =~ ^[AS][0-9]+ ]]
then
  PYHDF=./pyhdf
  if [ -d ${PYHDF} ]; then
    export LD_LIBRARY_PATH="${PYHDF}/pylib"
    export PYTHONPATH="${PYHDF}/pyshared"
  fi
  detected_flip=$(./getFlip.py ${inFileName})

  echo "detected_flip = ${detected_flip}"
fi

if [[ ${detected_flip} == "flipXY" ]]
then

#set( $Double = 0.0 )
#set( $Dspixl = $productRectangle.width - ( $inputRectangle.x + $inputRectangle.width) + 1 )
#set( $spixl = $Double.valueOf($Dspixl).intValue() )
#set( $Depixl = $productRectangle.width - $inputRectangle.x )
#set( $epixl = $Double.valueOf($Depixl).intValue() )
#set( $Dsline = $productRectangle.height - ( $inputRectangle.y + $inputRectangle.height) + 1 )
#set( $sline = $Double.valueOf($Dsline).intValue() )
#set( $Deline = $productRectangle.height - $inputRectangle.y )
#set( $eline = $Double.valueOf($Deline).intValue() )

echo "spixl=$spixl" >> parameters.anc
echo "epixl=$epixl" >> parameters.anc
echo "sline=$sline" >> parameters.anc
echo "eline=$eline" >> parameters.anc

else

#set( $Double = 0.0 )
#set( $Dspixl = $inputRectangle.x + 1 )
#set( $spixl = $Double.valueOf($Dspixl).intValue() )
#set( $Depixl = $inputRectangle.x + $inputRectangle.width )
#set( $epixl = $Double.valueOf($Depixl).intValue() )
#set( $Dsline = $inputRectangle.y + 1 )
#set( $sline = $Double.valueOf($Dsline).intValue() )
#set( $Deline = $inputRectangle.y + $inputRectangle.height )
#set( $eline = $Double.valueOf($Deline).intValue() )

echo "spixl=$spixl" >> parameters.anc
echo "epixl=$epixl" >> parameters.anc
echo "sline=$sline" >> parameters.anc
echo "eline=$eline" >> parameters.anc

fi
#end

#[[

if [[ $inFileName =~ ^MER_ ]]
then
  # MER_RR__1PNACR20020523_103543_....
  productTime="${inFileName:23:2}:${inFileName:25:2}:${inFileName:27:2}"
  productDate="${inFileName:14:4}-${inFileName:18:2}-${inFileName:20:2}"
elif [[ $inFileName =~ ^[AS][0-9]+ ]]
then
  # A2003001000000.L1B_LAC or S2003001000000.L1B_LAC
  productTime="${inFileName:8:2}:${inFileName:10:2}:${inFileName:12:2}"
  pdate="${inFileName:1:7}"
  pyear=${pdate%???}
  pday=${pdate#$pyear}
  productDate=$(date -d "${pyear}-01-01 +${pday} days -1 day" "+%Y-%m-%d")
fi

# get AUX data files
s=`date -d "${productDate} ${productTime}Z" -u +%s`
d=`date -d @$s -u +%Y%j%H%M%S`
h=`date -d @$s -u +%H`

h1=$((((1$h-100)/6)*6))
d1="`date -d @$s -u +%Y%j``printf %02d ${h1}`"

s2=$(($s + 21599))
h21=`date -d @$s2 -u +%H`
h22=$((((1$h21-100)/6)*6))
d2="`date -d @$s2 -u +%Y%j``printf %02d ${h22}`"

s3=$(($s + 21600))
h31=`date -d @$s3 -u +%H`
h32=$((((1$h31-100)/6)*6))
d3="`date -d @$s3 -u +%Y%j``printf %02d ${h32}`"

s4=$(($s - 43200))
d4=`date -d @$s4 -u +%Y%j`

d5=`date -d @$s -u +%Y%j`

s6=$(($s + 43200))
d6=`date -d @$s6 -u +%Y%j`

function get_anc() {
  local label=$1
  local year_doy=$2

  echo "get_nac ${label} ${year_doy}"
  local path=""
  while [ "$3" != "" ]; do
    testpath=${DIR_AUX_NCEP}/${year_doy:0:4}/${year_doy:4:3}/${3}
    echo "testting ${testpath}"
    if [[ ${testpath} == hdfs* ]]; then
      path=`hadoop fs -ls ${testpath}|awk '{ print $8 }'`
      if [ "$path" != "" ]; then
        break
      fi
    else
      for aFile in ${testpath}; do
        if [ -f ${aFile} ]; then
          path=${aFile}
          break
        fi
      done
      if [ "${path}" != "" ]; then
        break
      fi
    fi
    shift
  done
  if [ "$path" == "" ]; then
    echo "No auxdata found for type:${label} date:${year_doy} found"
    exit 1
  fi
  if [[ ${testpath} == hdfs* ]]; then
    workfile=`basename $path`
    if [ ! -e ${workfile} ]; then
      echo "copy to cwd as ${workfile}"
      hadoop fs -copyToLocal $path .
    fi
  else
    workfile=$path
  fi
  echo "$label=${workfile}" >> parameters.anc
}

function get_ozone() {
  get_anc $1 $2 N${2}00_O3_TOMSOMI_24h.hdf S${2}00${2:4:3}23_TOVS.OZONE S${2}00${2:4:3}23_TOAST.OZONE
}


get_anc "icefile" $d5 "?${d5}00_SEAICE_NSIDC_*"

get_anc "met1" $d1 "S${d1}_NCEP.MET" "N${d1}_MET_NCEPN_6h.hdf"
get_anc "met2" $d2 "S${d2}_NCEP.MET" "N${d2}_MET_NCEPN_6h.hdf"
get_anc "met3" $d3 "S${d3}_NCEP.MET" "N${d3}_MET_NCEPN_6h.hdf"

get_ozone "ozone1" $d4
get_ozone "ozone2" $d5
get_ozone "ozone3" $d6

get_anc "sstfile" $d5 "?${d5}_SST_*"


echo "ifile=${inFileName}" >> parameters.anc
echo "ofile=${outFile}" >> parameters.anc

if [[ $inFileName =~ ^A[0-9]+ ]]; then
  # MODIS needs geofile
  ./getGEO.sh ${inputPath}
      geoFileName=${inFileName:0:14}.GEO
  echo "geofile=${geoFileName}" >> parameters.anc
fi

# for debugging purpose
echo "=========parameters.anc========="
cat parameters.anc
echo "=========parameters.anc========="


function handle_progress() {
  line=$1
  echo $line
  if [[ ${line} =~ Processing\ scan\ #\ +[0-9]+\ +\(([0-9]+)\ +of\ +([0-9]+)\)\ +after ]]; then
    a1=${BASH_REMATCH[1]}
    a2=${BASH_REMATCH[2]}
    progress=$(echo "scale=3; ${a1} / ${a2}" | bc)
    printf "CALVALUS_PROGRESS %.3f\n" $progress
  fi
}

ulimit -s unlimited
set -o pipefail
echo ${L2GEN_BIN} par=parameters.anc
${L2GEN_BIN} par=parameters.anc | while read x ; do handle_progress "$x" ; done
echo CALVALUS_OUTPUT_PRODUCT ${outFile}
]]#

#if ($inputRectangle)
    # only check for flip in MODIS Aqua and Seawifs files
    if [[ $inFileName =~ ^[AS][0-9]+ ]]
    then
        detected_flip_l2=$(./getFlip.py ${outFile})
        echo "detected_flip_l2 = ${detected_flip_l2}"
        if [[ ${detected_flip_l2} == "flipXY" ]]
        then
            l2_flip_transform="flipX flipY"
        fi
    fi
    echo "CALVALUS_PRODUCT_TRANSFORMATION  subset $inputRectangle.x, $inputRectangle.y, $inputRectangle.width, $inputRectangle.height ${l2_flip_transform}"
#end

