# Hadoop HDFS locator "fs.default.name"
calvalus.hadoop.fs.defaultFS = hdfs://calvalus
calvalus.hadoop.dfs.nameservices = calvalus
calvalus.hadoop.dfs.ha.namenodes.calvalus = nn1,nn2
calvalus.hadoop.dfs.namenode.rpc-address.calvalus.nn1 = master00:8020
calvalus.hadoop.dfs.namenode.rpc-address.calvalus.nn2 = master01:8020
calvalus.hadoop.dfs.client.failover.proxy.provider.calvalus = org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider

calvalus.hadoop.yarn.resourcemanager.ha.enabled = true
calvalus.hadoop.yarn.resourcemanager.cluster-id = calvalus-yarn
calvalus.hadoop.yarn.resourcemanager.ha.rm-ids = rm1,rm2
calvalus.hadoop.yarn.resourcemanager.hostname = master00
calvalus.hadoop.yarn.resourcemanager.hostname.rm1 = master00
calvalus.hadoop.yarn.resourcemanager.hostname.rm2 = master01
calvalus.hadoop.yarn.client.failover-proxy-provider = org.apache.hadoop.yarn.client.ConfiguredRMFailoverProxyProvider

calvalus.portal.staging.path =  staging
calvalus.wps.staging.path = staging

# default is default
calvalus.hadoop.mapreduce.job.queuename = test

# Hadoop job priority, can be VERY_HIGH, HIGH, NORMAL, LOW, VERY_LOW
calvalus.hadoop.mapreduce.job.priority = HIGH

# Calvalus software bundle "calvalus.calvalus.bundle"
calvalus.calvalus.bundle = calvalus-2.7-portal

# BEAM software bundle "calvalus.beam.bundle"
calvalus.beam.bundle = beam-5.0.1-portal

calvalus.hadoop.mapreduce.framework.name = yarn

# for Windows developer debugging the portal this may be necessary
calvalus.hadoop.mapreduce.app-submission.cross-platform = true
