<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <servlet-class>com.bc.calvalus.wps2.ServletExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <url-pattern>/calvalus-wps2</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>bc</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Calvalus HTTP</web-resource-name>
            <url-pattern>/calvalus-wps2/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>bc</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>BC</realm-name>
    </login-config>

</web-app>