body {
    background-color: white;
}

h1 {
    color: orange;
    text-align: center;
    font-family: Georgia, Times, serif;
    font-size: 2em;
}

h2 {
    color: #777777;
    text-align: center;
    font-family: Georgia, Times, serif;
    font-size: 2em;
}

h3 {
    color: #000066;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    background-color: #DDDDDD;
    padding: 3px 7px 2px 7px;
}

table {
    width: 100%;
    border-collapse:collapse;
}

td {
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    padding: 3px 7px 2px 7px;
}

td.name {
    color: #0000BB;
    border:1px dotted gray;
}

td.value {
    font-family: Verdana, sans-serif;
    border:1px dotted gray;
}

td.dataset-info {
    vertical-align:top;
}

td.dataset-graph {
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

