<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>mapServlet</servlet-name>
    <servlet-class>com.bc.calvalus.server.MapServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>mapServlet</servlet-name>
    <url-pattern>/mapapp/map</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MapApp.html</welcome-file>
  </welcome-file-list>

</web-app>
