/** Example rules used by the template application (remove for your app) */

#splashScreen {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -100px;
}

#mainPanel {
    display: block;
}

.header-panel {
    background-color: #373B50;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.header-logo {
    flex: 0 0 200px;
    margin: auto;
    text-align: center;
}

.header-title {
    width: 100%;
    padding-left: 10px;
}

.header-info {
    display: flex;
    flex: 0 0 250px;
    flex-direction: row;
}

.header-info-user {
    width: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: 900;
    color: #7ac6cf;
    margin: auto;
    text-align: center;
}

.header-user-logout {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
    font-weight: 900;
    color: #888;
}

.header-user-logout:hover {
    color: white;
}

.header-info-help {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header-info-about {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header-info-text {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 900;
    color: #7ac6cf;
}

.header-info-text:hover {
    color: white;
}

.footer {
    background-color: #333;
    display: flex;
    flex-direction: row;
    color: white;
    height: 60px;
}

.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-calvalus-version {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #888;
    flex: 0 0 50%;
}

.footer-copyright-text {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    flex: 0 0 50%;
}

.footer-info {
    display: flex;
    flex: 0 0 250px;
    flex-direction: row;
}

.footer-info-impressum {
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer-info-help {
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer-info-about {
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer-info-text {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.footer-info-text:hover {
    color: #7ac6cf;
}

.com-google-gwt-user-cellview-client-CellTree-Style-cellTreeItemValue {
    color: white;
}

.com-google-gwt-user-cellview-client-CellTree-Style-cellTreeSelectedItem {
    background: #7ac6cf none !important;
}

.com-google-gwt-user-cellview-client-CellTree-Style-cellTreeSelectedItem .com-google-gwt-user-cellview-client-CellTree-Style-cellTreeItemValue {
    color: #373B50;
}

.gwt-Button {
    padding: 13px 15px !important;
    background: #373B50 none !important;
    color: #7ac6cf;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.gwt-Button:disabled {
    background: #e1e2e1 none !important;
    color: #888;
}

.gwt-ListBox {
    background-color: rgba(122, 198, 207, 0.3);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373B50;
}

.gwt-TextArea {
    background-color: rgba(122, 198, 207, 0.3);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373B50;
}

select:focus option:checked {
    background: #373B50 -webkit-linear-gradient(bottom, #373B50 0%, #373B50 100%);
}

.main-menu {
    background-color: #373B50;
    color: white;
    flex: 0 0 200px;
}

.title {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7ac6cf;
    font-size: 32pt;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 4px;
}

.subTitle {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    color: #888;
    margin: 0;
    padding: 0 0 0 4pt;
}

.userName {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    color: #7ac6cf;
    text-align: right;
    width: 15%;
    vertical-align: top;
}

.copyright {
    background-color: #B4C1D7;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 9pt;
    color: #FFF;
    text-align: center;
    vertical-align: bottom;
    width: 816px
}

.loginPanelWrapper {
    width: 816px;
}

.loginPanel {
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 12pt;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    margin: 0 auto;
}

.headerPanel {
    width: 816px;
}

.formPanel {
    margin: 10px;
    padding: 5px;
}

p, li {
    font-family: Georgia, Times, serif;
    font-size: 10pt;
}





