/** Example rules used by the template application (remove for your app) */

#splashScreen {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -100px;
}

#mainPanel {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
}

.title {
    color: #7b8fae;
    font-size: 32pt;
    font-weight: bold;
    text-shadow: #ddd 3px 3px 1px;
    margin: 0;
    padding: 0 0 0 4px;
}

.subTitle {
    color: #888;
    font-size: 16pt;
    margin: 0;
    padding: 0 0 0 4px;
}

.formPanel {
    margin: 10px;
    padding: 5px;
}

/** Most GWT widgets already have a style name defined */

.gwt-DialogBox {
    width: 400px;
}

.gwt-Button {
    display: block;
    font-size: 32pt;
}

.cw-FlexTable td {
    border: 0px;
}




