<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<wps:Execute service="WPS"
             version="1.0.0"
             xmlns:wps="http://www.opengis.net/wps/1.0.0"
             xmlns:ows="http://www.opengis.net/ows/1.1"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ogc/wps/1.0.0/wpsExecute_request.xsd">
    <ows:Identifier>${productionId}</ows:Identifier>
    <ows:Title>${productionName}</ows:Title>
    <wps:DataInputs>

        #foreach( $inputFile in $inputFiles )
            <wps:Input>
                <ows:Identifier>calvalus.input</ows:Identifier>
                <ows:Title>MERIS L1B input</ows:Title>
                <wps:Reference xlink:href="${inputFile}"/>
            </wps:Input>
        #end

        <wps:Input>
            <ows:Identifier>calvalus.output.dir</ows:Identifier>
            <ows:Title>Output directory</ows:Title>
            <wps:Data>
                <wps:Reference xlink:href="${outputDir}"/>
            </wps:Data>
        </wps:Input>

        <wps:Input>
            <ows:Identifier>calvalus.processor.package</ows:Identifier>
            <ows:Title>Name of the Level 2 installation bundle</ows:Title>
            <wps:Data>
                <wps:LiteralData>${processorBundleName}</wps:LiteralData>
            </wps:Data>
        </wps:Input>

        <wps:Input>
            <ows:Identifier>calvalus.processor.version</ows:Identifier>
            <ows:Title>Version of the Level 2 installation bundle</ows:Title>
            <wps:Data>
                <wps:LiteralData>${processorBundleVersion}</wps:LiteralData>
            </wps:Data>
        </wps:Input>

        #if ($regionWkt)
        <wps:Input>
            <ows:Identifier>calvalus.geometry</ows:Identifier>
            <ows:Title>The parameter for the WKT that defines the geometry the operation is restricted to</ows:Title>
            <wps:Data>
                <wps:LiteralData>${regionWkt}</wps:LiteralData>
            </wps:Data>
        </wps:Input>
        #end

        <wps:Input>
            <ows:Identifier>calvalus.l2.operator</ows:Identifier>
            <ows:Title>The name of the Level 2 BEAM processor (GPF operator name)</ows:Title>
            <wps:Data>
                <wps:LiteralData>${processorName}</wps:LiteralData>
            </wps:Data>
        </wps:Input>

        <wps:Input>
            <ows:Identifier>calvalus.l2.parameters</ows:Identifier>
            <ows:Title>The parameters for the Level 2 BEAM processor (GPF operator name)</ows:Title>
            <wps:Data>
                <wps:ComplexData>${processorParameters}</wps:ComplexData>
            </wps:Data>
        </wps:Input>

        <wps:Input>
            <ows:Identifier>calvalus.l3.parameters</ows:Identifier>
            <ows:Title>The parameters for the Calvalus Level 3 processor</ows:Title>
            <wps:Data>
                <wps:ComplexData>
                    <numRows>${binningParameters.numRows}</numRows>
                    <maskExpr>${binningParameters.maskExpr}</maskExpr>
                    <superSampling>${binningParameters.superSampling}</superSampling>
                    #if ($binningParameters.bbox)
                        <bbox>$binningParameters.bbox</bbox>
                    #elseif (${binningParameters.regionWkt})
                        <regionWkt>${binningParameters.regionWkt}</regionWkt>
                    #end
                    <variables>
                        #foreach( $variable in $binningParameters.variables )
                            <variable>
                                <name>${variable.name}</name>
                                <expr>${variable.expr}</expr>
                            </variable>
                        #end
                    </variables>
                    <aggregators>
                        #foreach( $aggregator in $binningParameters.aggregators )
                            <aggregator>
                                <type>${aggregator.type}</type>
                                #if ($aggregator.varName)
                                    <varName>${aggregator.varName}</varName>
                                #end
                                #if ($aggregator.varNames)
                                    <varNames>${aggregator.varNames}</varNames>
                                #end
                                #if ($aggregator.weightCoeff)
                                    <weightCoeff>${aggregator.weightCoeff}</weightCoeff>
                                #end
                                #if ($aggregator.fillValue)
                                    <fillValue>${aggregator.fillValue}</fillValue>
                                #end
                                #if ($aggregator.percentage)
                                     <percentage>${aggregator.percentage}</percentage>
                                 #end
                             </aggregator>
                        #end
                    </aggregators>
                </wps:ComplexData>
            </wps:Data>
        </wps:Input>

    </wps:DataInputs>

    <wps:ResponseForm>
        <wps:ResponseDocument storeExecuteResponse="true">
            <wps:Output asReference="true">
                <ows:Identifier>l2-dir</ows:Identifier>
                <ows:Title>Directory of Level 3 output files</ows:Title>
            </wps:Output>
        </wps:ResponseDocument>
    </wps:ResponseForm>
</wps:Execute>
