private.key.path=C:\\Users\\muhammad.bc\\IdeaProjects\\calvalus\\calvalus-code-de\\src\\test\\resources\\keys\\test_private_key
remote.file.path=/test/
host.name=test
user.name=muhammad
paraphrase=1234
