<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title type="text">Urban TEP catalogue entry</title>
    <subtitle type="text"></subtitle>
    <generator>Urban TEP BC Processing Center</generator>
    <entry>
        <id>$productOutputDir</id>
        <title type="text">$processName of $inputDatasetName</title>
        <author>
            <name>Brockmann Consult GmbH</name>
        </author>
        <publisher xmlns="http://purl.org/dc/elements/1.1/">ESA Urban TEP</publisher>
        <published>$jobFinishTime</published>
        <updated>$jobFinishTime</updated>
        <link href="$collectionUrl" rel="alternate" type="text/html"/>
        #foreach( $product in $productList )
            <link href="$product.productUrl" rel="enclosure" type="application/netcdf" length=$product.productFileSize/>
        #end
        <where xmlns="http://www.georss.org/georss/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Polygon xmlns="http://www.opengis.net/gml">
                <exterior>
                    <LinearRing>
                        <posList srsDimension="2">$regionWkt</posList>
                    </LinearRing>
                </exterior>
            </Polygon>
        </where>
        <when>
            <TimePeriod xmlns="http://www.opengis.net/gml/3.2">
                <beginPosition>$startDate</beginPosition>
                <endPosition>$stopDate</endPosition>
            </TimePeriod>
        </when>
        <ProcessingInformation>
            <processingCenter>Brockmann Consult GmbH</processingCenter>
            <processingDate>$jobFinishTime</processingDate>
            <method>$processName Processing</method>
            <processorName>$processName</processorName>
            <processorVersion>$processorVersion</processorVersion>
            <processingLevel>$productionType</processingLevel>
            <nativeProductFormat>$outputFormat</nativeProductFormat>
        </ProcessingInformation>
        <box xmlns="http://www.georss.org/georss">$regionBox</box>
        <offering xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opengis.net/owc/1.0" code="http://www.opengis.net/spec/owc-atom/1.0/req/html">
            <content href="$collectionUrl" type="text/html" />
        </offering>
        #foreach( $product in $productList )
            <offering xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opengis.net/owc/1.0" code="http://www.opengis.net/spec/owc-atom/1.0/req/nc">
                <content href="$product.productUrl" type="application/netcdf" />
            </offering>
        #end
    </entry>
</feed>