<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Calvalus WPS</display-name>
    <description>Calvalus WPS</description>

    <servlet>
        <servlet-name>Calvalus WPS</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.bc.calvalus.wpsrest.exceptionmapper, com.bc.calvalus.wpsrest.services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>com.bc.calvalus.wpsrest.listener.ContainerInitAndDestroy</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>Calvalus WPS</servlet-name>
        <url-pattern>/wps/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <description>This is the group that consists of external users with access to Calvalus WPS.</description>
        <role-name>calwps</role-name>
    </security-role>

    <security-role>
        <description>This is the group that consists of internal users with access to Calvalus Portal.</description>
        <role-name>calvalus</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Calvalus HTTP</web-resource-name>
            <url-pattern>/wps/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>calwps</role-name>
            <role-name>calvalus</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Calvalus WPS</realm-name>
    </login-config>

</web-app>