.centeredHorizontalPanel {
    vertical-align: middle;
}

.explanatoryLabel {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373B50;
}

.explanatoryValue {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #373B50;
}

.inputFileSetPanel {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #373B50;
}

.checkBox {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #373B50;
}

.variableName input {
    width: 20em;
}

.variableExpression input {
    width: 50em;
}

/* Needed to change the cursor when hovering over the gwt-anchor on ManageBundleForm */
.anchor:hover {
    cursor: pointer;
}

.anchor {
    color: #888;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panelTitle {
    background-color: #373B50;
    margin: 0 0 5px 0;
    padding: 5px;
}

.panelTitleText {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}