.centeredHorizontalPanel {
    vertical-align: middle;
}

.explanatoryLabel {
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 9pt;
    color: #777799;
}

.explanatoryValue {
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #777799;
}

.variableName input {
    width: 20em;
}

.variableExpression input {
    width: 50em;
}

    /* Needed to change the cursor when hovering over the gwt-anchor on ManageBundleForm */
.anchor:hover {
    cursor: pointer;
}

.panelTitle{
    background-color: #373B50;
    margin: 0 0 5px 0;
    padding: 5px;
}

.panelTitleText {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}